@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
} */
  
@keyframes popup {
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
  }

  @keyframes popout {
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(0);
      /* display: none; */
    }
  }

* {
    font-family: 'Roboto', sans-serif;
    /* border: 1px solid black; */
}

body {
    padding: 0;
    margin: 0;
}
.navbar {
    position: fixed;
    height: 60px;
    background-color: black;
    width: 100%;
    z-index: 9999999999999999999999999;
    /* text-align: center; */
}

.navbar h1 {
    margin-top: 12.5px;
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: -40px;
}

.navbar i {
    color: #fff;
    font-size: 27px;
    opacity: .75;
    transition: .3s ease;
}

.navbar i:nth-child(3) {
    position:absolute;
    top:50%;
    right:20px;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}

.navbar i:nth-child(4) {
    position:absolute;
    top:50%;
    right:60px;
    transform:translate(0%,-50%);
    -ms-transform:translate(0%,-50%);
}

.navbar img {
    width: 45px;
    padding: 5px;
}

.navbar i:hover {
    opacity: 1;
    cursor: pointer;
    color: #fff;
}
    
.boxes {
    padding-top: 100px;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    width: 100%;
}

.box {
    background: #fff;
    border: 1px solid #ccc;
    width: 300px;
    text-align: left; 
    border-radius: 10px;  
    transition: .2s ease;         
}

.box h2 {
    max-width: 95%;
    margin: 10px auto 0 auto;
    font-size: 14px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    color: #363636;
}





.box:hover {
    border: 1px solid #fff;
    box-shadow: 0px 0px 5px #777777;
}

.box:hover h2 {
    text-decoration:underline ;
}

.box p {
    position: relative;
    bottom: -35px;
    left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.box .add-to-cart i {
    font-size: 20px;
}

.box .add-to-cart {
    position: relative;
    left: 85%;
    bottom: 10px;
    padding: 7px 7px;
    border-radius: 1000px;
    background-color: black;
    border: 1px solid transparent;
    opacity: .6;
    color: #fff;
    transition: .3s ease;
}

.box .add-to-cart:hover {
    border: 1px solid black;
    opacity: 1;
}

.box .favorite {
    position: relative;
    top: 5px;
    left: 5px;
    background-color: #f0f0f0;
    border-radius: 10000px;
    padding: 4.5px 6.5px;
    border: none;
    color: #ccc;
    opacity: .5;
    transition: .3s ease;
}

.box .favorite:hover {
    color: red;
    opacity: 1;
}







.box img {    
    display: block;
    margin: 0 auto;
    width: 290px;
    margin-top: 25px;
    height: 200px;
    object-fit: contain;
}

button {
    border: 2px solid black;
    background: transparent;
    font-size: 20px;
    padding: 7px 13px;
    transition: .3s ease;
    border-radius: 20px;
}

button:hover {
    cursor: pointer;
    background-color: black;
    color: #fff;
    
}

.form {
    position: relative;
    top: 100px;
    display: none;
    margin: 0 auto 0 auto;
    width: 170px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 9999;
    animation: popup .3s;
}

.form {
    padding: 0 50px 0 50px;
    box-shadow: 1px 1px 10px black;
}

.form h1 {
    text-align: center;
}

.form i {
    position: relative;
    right: -200;
    top: 10px;
}

.form i:hover {
    cursor: pointer;
}

.form.login p {
    font-size: 15px;
    text-align: center;
}.form.login a {
    cursor: pointer;
    color: #0000ff;
}

input[type=submit] {
    border: none;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 7px 13px;
    border: 1px solid black;
    border-radius: 20px;
    transition: .3s ease;
    background-color: transparent;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: black;
    color: #fff;
}

.buttons {
    padding-top: 100px;
    text-align: center;
}

.items {
    display: none;
    margin: 20px auto 0 auto;
    width: 70%;
    padding: 5% 10% 5% 10%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    animation: popup .3s

}

.items a {
    position: relative;
    bottom: 20px;
    /* display: block; */
    margin-left: 90%;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    padding: 7px 13px;
    border: 1px solid red;
    transition: .3s ease;
}

.items a:hover {
    cursor: pointer;
    background-color: red;
    color: #fff;
}

.item {
    border-bottom: 2px solid black;
    width: 100%;
}

#closeVerwijderen {
    position: absolute;
    right: 6%;
    top: 19%;
}

#closeVerwijderen:hover {
    cursor: pointer;
}

.users {
    display: none;
    margin: 20px auto 0 auto;
    width: 70%;
    padding: 5% 10% 5% 10%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    animation: popup .3s

}

.users a {
    position: relative;
    bottom: 20px;
    /* display: block; */
    margin-left: 90%;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    padding: 7px 13px;
    border: 1px solid red;
    transition: .3s ease;
}

.users a:hover {
    cursor: pointer;
    background-color: red;
    color: #fff;
}

.user {
    border-bottom: 2px solid black;
    width: 100%;
}

.users i:hover{
    cursor: pointer;
}

#closeUsers {
    position: absolute;
    right: 6%;
    top: 19%;
}

#closeUsers:hover {
    cursor: pointer;
}

.item .teksten {
    position: relative;
    /* top: 37.5px; */
}

@media (max-width:930px ) {
    .items {
        width: 75%;
    }

    .users {
        width: 75%;
    }
}

.acces_denied {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}